<meta charset = 'UTF-8'>
<title>Esto es el titulo</title>

<table>
	<thead>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Edad</th>
	</thead>
	<tbody>
		<tr>
			<td>Nombre UNo</td>
			<td>Apellido Uno</td>
			<td>Edad Uno</td>
		</tr>
		<tr>
			<td>Nombre Dos</td>
			<td>Apellido Dos</td>
			<td>Edad Dos</td>
		</tr>
	</tbody>
</table>
