doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Entregable 5
    body 
        h1 Entregable Nro. 5
        a(href="http://localhost:8080/productos") Ver Lista de Productos
        br
        br

        a(href="http://localhost:8080") Cargar un Nuevo Productos
        p ------------------------------------------------------
        block contenido
        p ------------------------------------------------------